Web Services/Lifecycle/la-file-senderservice/src/main/resources/it/eng/la/ws/CreatePDFService.xsd

<xsd:schema xmlns:ns0="http://it.eng.la.livecyclews/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://it.eng.la.livecyclews/">
<xsd:complexType name="invokeFillPDFLifeCycle">
<xsd:sequence>
<xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
<xsd:element name="arg1" type="xsd:base64Binary" minOccurs="0" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="invokeFillPDFLifeCycleResponse">
<xsd:sequence>
<xsd:element name="return" type="ns0:esito" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="esito">
<xsd:sequence>
<xsd:element name="filePDF" type="xsd:base64Binary" minOccurs="0"/>
<xsd:element name="result" type="xsd:string" minOccurs="0"/>
<xsd:element name="resultDetails" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="invokeFillPDFLifeCycle" type="ns0:invokeFillPDFLifeCycle"/>
<xsd:element name="invokeFillPDFLifeCycleResponse" type="ns0:invokeFillPDFLifeCycleResponse"/>
</xsd:schema>